<h1>Welcome to Casino</h1>

<%  
    ranks = [2,3,4,5,6,7,8,9,10, "jack", "queen","king", "ace"]
    suits = ["clubs", "diamonds", "hearts", "spades"]

    # rand_rank1 = rand(0..12)
    # ranks[rand_rank1]

    # rank1 = ranks.sample
    # suit1 = suits.sample
    # rank2 = ranks.sample
    # suit2 = suits.sample
    # rank3 = ranks.sample
    # suit3 = suits.sample
    # rank4 = ranks.sample
    # suit4 = suits.sample
    # rank5 = ranks.sample
    # suit5 = suits.sample
   
    deck = []
    for rank in ranks 
        for suit in suits 
            card = "#{rank}_of_#{suit}"
            deck.push(card)
        end

    end

    shuffled_deck  = deck.shuffle
    hand = shuffled_deck[0,10]
%>

 <% for card in hand %>
    <img src="/images/cards/<%= card %>.svg ">
 <% end %>
